{#  Copyright 2016 Arnaud Bienvenu

	This file is part of Kyjoukan.

	Kyjoukan is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	Kyjoukan is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with Kyjoukan.  If not, see <http://www.gnu.org/licenses/>.

#}<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block title %}
			<title>Kyjoukan</title>
		{% endblock %}
		<meta name="application-name" content="Kyjoukan">
		{% block robots %}
			<meta name="robots" content="noindex, nofollow">
		{% endblock %}
		{% image '@KyjoukanBundle/Resources/public/kyjoukan.png' %}
			<link rel="icon" type="image/png" href="{{ asset_url }}" />
		{% endimage %}

		{% stylesheets
			'components/bootstrap/css/bootstrap.min.css'
			'components/bootstrap/css/bootstrap-theme.min.css'
			'bundles/kyjoukan/css/*'
			filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

		{% javascripts
			'components/jquery/jquery.min.js'
			'components/bootstrap/js/bootstrap.min.js' %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<!-- Preselect navigation tabs according to # anchor -->
		<script type="text/javascript">
			$( document ).ready(function() {
				var url = document.location.toString();
				if (url.match('#')) {
					$('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
				}

				// Change hash for page-reload
				$('.nav-tabs a').on('shown.bs.tab', function (e) {
					window.location.hash = e.target.hash;
				})
			});
		</script>
	</head>
	<body>
		<div class="container">
			{% for level in ['success', 'info', 'warning', 'danger'] %}
				{% for flash_message in app.session.flashBag.get(level) %}
					<div class="alert alert-{{ level }}" role="alert">
						{{ flash_message|raw }}
					</div>
				{% endfor %}
			{% endfor %}

			{% block body %}{% endblock %}
		</div>
		<div id="footer">
			<p>
				&copy; Arnaud Bienvenu 2016-2017 - v0.5 -
					   Icons by <a href="http://glyphicons.com/">GLYPHICONS.com</a> -
				<span id="forkongithub"><a href="https://github.com/abienvenu/Kyjoukan">Fork me on GitHub</a></span> -
				{% image 'https://insight.sensiolabs.com/projects/c04af8c2-5229-48b3-884a-2e7aa6b7c9d6/mini.png' %}
					<a href="https://insight.sensiolabs.com/projects/c04af8c2-5229-48b3-884a-2e7aa6b7c9d6">
						<img src="{{ asset_url }}" alt="SensioLabsInsight Medal" />
					</a>
				{% endimage %}
			</p>
		</div>
	</body>
</html>
