<html>
	<head>
		<style>
			@media print {
				@page {
					margin: 12px;
				}
				div.navigation {
					display: none;
				}
			}

			html,body { height: 100%; margin: 0; padding: 0; }

			div.navigation {
				position: absolute;
				bottom: 3px;
				font-size: 24px;
				width: 100%;
				text-align: center;
			}
			div.navigation a {
				text-decoration: none;
				font-size: 30px;
				background: lightblue;
				border: 3px outset cadetblue;
			}

			section.table {
				display: table;
				border-spacing: 10px;
				width: 100%;
				height: 100%;
			}
			section.table > div.row {
				display: table-row;
				width: 100%;
				height: 25%;
			}
			section.table > div.row > div {
				display: table-cell;
				border: solid 1px #ccc;
			}

			section.main > div.row > div
			{
				width: 33%;
			}

			section.match, section.submatch {
				display: table;
				border-spacing: 0;
				width: 100%;
				height: 100%;
			}

			section.match > div.row
			{
				display: table-row;
			}
			section.match > div.row > div
			{
				display: table-cell;
				text-align: center;
				padding: 10px;
			}

			section.submatch > div.row
			{
				display: table-row;
			}
			section.submatch > div.row > div
			{
				display: table-cell;
				text-align: center;
				width: 50%;
				padding-left: 10px;
				padding-right: 10px;

			}

			div.terrain {
				float: left;
			}
			div.numero {
				float: right;
			}
			div.arbitre, div.score {
				text-align: center;
			}

			span.equipe {
				border: 3px outset black;
				padding: 6px;
				font-size: 16px;
			}
			span.score {
				border: 3px inset black;
				padding-right: 40px;
				padding-bottom: 10px;
				padding-top: 10px;
			}

			section.checkboxes {
				display: table;
				width: 100%;
				border-spacing: 0;
			}
			section.checkboxes > div.row {
				display: table-row;
			}
			section.checkboxes > div.row > div {
				display: table-cell;
				border: 1px inset #aaa;
				font-size: 13px;
				padding: 1px;
				width: 10%;
			}

		</style>
	</head>
<body>
	<div class="navigation">
		<a href="{{ path('abienvenu_kyjoukan_phase_index', {'slug_event': phase.event.slug, 'slug': phase.slug}) }}">Retour</a>
		{% if page > 1 %}
			<a href="{{ path('abienvenu_kyjoukan_phase_gamecards', {'slug_event': phase.event.slug, 'slug': phase.slug, 'page': (page-1)}) }}">«</a>
		{% endif %}
		{{ page }}
		{% if page < pages %}
			<a href="{{ path('abienvenu_kyjoukan_phase_gamecards', {'slug_event': phase.event.slug, 'slug': phase.slug, 'page': (page+1)}) }}">»</a>
		{% endif %}
	</div>
	<section class="main table">
		{% for row in range(0,2) %}
		<div class="row">
			{% for col in range(0,1) %}
			<div>
				<section class="match">
					{% if games[row*2+col] is defined %}
						{% set game = games[row*2+col] %}
						<div class="row" style="height: 20%;">
							<div>
								<div class="terrain">Terrain: {{ game.ground.name }}</div>
								<div class="numero">{{ phase.name }} Matchs {{ game.round.number }}/{{ phase.rounds|length }}</div>
								<div class="arbitre">Arbitre: {{ game.referee.name }}</div>
							</div>
						</div>
						<div class="row" style="height: 60%;">
							<div>
								<section class="submatch" style="height: 20%; margin-bottom: 10px;">
									<div class="row">
										<div>A: <span class="equipe">{{ game.team1.name }}</span></div>
										<div>B: <span class="equipe">{{ game.team2.name }}</span></div>
									</div>
								</section>
								<section class="submatch" style="height: 80%;">
									<div class="row">
										{% for column in range(1,2) %}
										<div>
											<section class="checkboxes">
												{% for row in range(1,40)|batch(10) %}
												<div class="row">
													{% for i in row %}
														<div>{{ i }}</div>
													{% endfor %}
												</div>
												{% endfor %}
											</section>
										</div>
										{% endfor %}
									</div>
								</section>
							</div>
						</div>
						<div class="row" style="height: 20%;">
							<div>
								Score: <span class="score">&nbsp;</span> à <span class="score">&nbsp;</span>
							</div>
						</div>
					{% endif %}
				</section>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</section>
</body>
</html>
