{% extends "KyjoukanBundle::layout.html.twig" %}

{% block body %}
	<ol class="breadcrumb">
		<li><a href="{{ path('abienvenu_kyjoukan_default_index') }}">Accueil</a></li>
		<li><a href="{{ path('abienvenu_kyjoukan_event_index', {'slug': phase.event.slug}) }}">{{ phase.event.name }}</a></li>
		<li class="active">{{ phase.name }}</li>
	</ol>
	<div>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Équipes</a></li>
			<li role="presentation"><a href="#pools" aria-controls="pools" role="tab" data-toggle="tab">Groupes</a></li>
			<li role="presentation"><a href="#games" aria-controls="games" role="tab" data-toggle="tab">Matchs</a></li>
			<li>
				<a href="{{ path('abienvenu_kyjoukan_phase_gamecards', {'slug_event': phase.event.slug, 'slug': phase.slug, 'page': 1}) }}" target="_blank">
					<span class="glyphicon glyphicon-print"></span> Feuilles de match
				</a>
			</li>
			<li>
				<a href="{{ path('abienvenu_kyjoukan_phase_planning', {'slug_event': phase.event.slug, 'slug': phase.slug,}) }}" target="_blank">
					<span class="glyphicon glyphicon-print"></span> Planning
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="teams">

				<table class="table table-striped table-bordered table-hover">
					{% for team in phase.teams %}
						<tr>
							<td>
								<a href="{{ path('abienvenu_kyjoukan_phase_removeteam', {'slug_event': phase.event.slug, 'slug': phase.slug, 'team': team.id}) }}">
									<button class="glyphicon glyphicon-trash btn btn-danger btn-xs"></button>
								</a>
							</td>
							<td width="99%">
								{{ team.name }}
							</td>
						</tr>
					{% endfor %}
				</table>

				<a href="{{ path('abienvenu_kyjoukan_phase_loadteams', {'slug_event': phase.event.slug, 'slug': phase.slug}) }}" class="btn btn-primary">
					<span class="glyphicon glyphicon-upload"></span>
					Charger les équipes de l'évènement
				</a>
			</div>
			<div role="tabpanel" class="tab-pane" id="pools">
				<table class="table table-striped table-bordered table-hover">
					{% for pool in phase.pools %}
						<tr>
							<td>
								<a href="{{ path('abienvenu_kyjoukan_pool_delete', {'id': pool.id}) }}"
								   onclick="return confirm('Vraiment supprimer ce groupe ?');">
									<button class="glyphicon glyphicon-trash btn btn-danger btn-xs"></button>
								</a>
							</td>
							<td width="99%">
								<ul>
								{% for team in pool.teams %}
									<li>{{ team.name }}</li>
								{% endfor %}
								</ul>
							</td>
						</tr>
					{% endfor %}
				</table>
				<a href="{{ path('abienvenu_kyjoukan_phase_addpool', {'slug_event': phase.event.slug, 'slug': phase.slug}) }}" class="btn btn-primary">
					<span class="glyphicon glyphicon-plus"></span>
					Ajouter un groupe
				</a>
				<a href="{{ path('abienvenu_kyjoukan_phase_dispatchteams', {'slug_event': phase.event.slug, 'slug': phase.slug}) }}" class="btn btn-primary">
					<span class="glyphicon glyphicon-fullscreen"></span>
					Répartir les équipes
				</a>
			</div>
			<div role="tabpanel" class="tab-pane" id="games">
				<table class="table table-striped table-bordered table-hover text-center">
					<tr>
						<th></th>
						{% for ground in phase.event.grounds %}
							<th class="text-center">{{ ground.name }}</th>
						{% endfor %}
					</tr>
					{% for round in phase.rounds %}
						<tr>
							<td>{{ round.number }}</td>
							{% for game in round.games %}
								<td>
									<a href="{{ path('abienvenu_kyjoukan_game_edit', {'id': game.id}) }}">
										<span class="glyphicon glyphicon-edit"></span>
									</a>
									<strong>{{ game.team1.name }} / {{ game.team2.name }}</strong><br />
									<small>{{ game.ground.name }}: {{ game.referee.name }}</small>
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
				<a href="{{ path('abienvenu_kyjoukan_phase_shuffle', {'slug_event': phase.event.slug, 'slug': phase.slug}) }}" class="btn btn-primary">
					<span class="glyphicon glyphicon-random"></span>
					Programmer les matchs
				</a>
			</div>
		</div>
	</div>
{% endblock %}
