<html>
	<head>
		<style>
			@media print {
				@page {
					margin: 12px;
				}
			}

			html,body { height: 100%; margin: 0; padding: 0; }

			table {
				width: 100%;
				text-align: center;
				border-collapse: collapse;
				font-size: 18px;
			}
			table, th, td
			{
				border: 3px solid black;
			}
			td { padding: 10px; }

			.referee { font-size: 12px; }
		</style>
	</head>
	<body>
		<table>
			<tr>
				<th>{% if phase.startdatetime and phase.roundduration %}Heure (approx.){% else %}N°{% endif %}</th>
				{% for ground in phase.event.grounds %}
					<th>Terrain {{ ground.name }}</th>
				{% endfor %}
			</tr>
			{% for round in phase.rounds %}
				<tr>
					<td>
						{% if phase.startdatetime and phase.roundduration %}
							{{ phase.startDateTime|date_modify("+" ~ loop.index * phase.roundduration ~ " second")|date("H\\hi") }}
						{% else %}
							{{ loop.index }}
						{% endif %}
					</td>
					{% for game in round.games %}
						<td>
							{{ game.team1.name }} -- {{ game.team2.name }}<br />
							<span class="referee">({{ game.referee.name }})</span>
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
