{% extends "KyjoukanBundle::layout.html.twig" %}

{% block body %}
	<ol class="breadcrumb">
		<li><a href="{{ path('abienvenu_kyjoukan_default_index') }}">Accueil</a></li>
		<li class="active">{{ event.name }}</li>
	</ol>

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#phases" aria-controls="phases" role="tab" data-toggle="tab">Phases</a></li>
		<li role="presentation"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Équipes</a></li>
		<li role="presentation"><a href="#grounds" aria-controls="grounds" role="tab" data-toggle="tab">Terrains</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="phases">
			<table class="table table-striped table-bordered table-hover">
				{% for phase in event.phases %}
					<tr>
						<td>
							<a href="{{ path('abienvenu_kyjoukan_phase_edit', {'slug_event': event.slug, 'slug': phase.slug}) }}">
								<button class="glyphicon glyphicon-edit btn btn-success btn-xs"></button>
							</a>
						</td>
						<td>
							<a href="{{ path('abienvenu_kyjoukan_phase_delete', {'slug_event': event.slug, 'slug': phase.slug}) }}"
								onclick="return confirm('Vraiment supprimer cette phase ?');">
								<button class="glyphicon glyphicon-trash btn btn-danger btn-xs"></button>
							</a>
						</td>
						<td width="99%">
							<a href="{{ path('abienvenu_kyjoukan_phase_index', {'slug_event': event.slug, 'slug': phase.slug}) }}">
								<span class="glyphicon glyphicon-forward"></span>
								{{ phase.name }}
							</a>
						</td>
					</tr>
				{% endfor %}
			</table>
			<a href="{{ path('abienvenu_kyjoukan_event_newphase', {'slug': event.slug}) }}" class="btn btn-primary">
				<span class="glyphicon glyphicon-plus"></span>
				Créer une nouvelle phase
			</a>
		</div>
		<div role="tabpanel" class="tab-pane" id="teams">
			<table class="table table-striped table-bordered table-hover">
				{% for team in event.teams %}
					<tr>
						<td>
							<a href="{{ path('abienvenu_kyjoukan_team_edit', {'slug_event': event.slug, 'id': team.id}) }}">
								<button class="glyphicon glyphicon-edit btn btn-success btn-xs"></button>
							</a>
						</td>
						<td>
							<a href="{{ path('abienvenu_kyjoukan_team_delete', {'slug_event': event.slug, 'id': team.id}) }}"
								onclick="return confirm('Vraiment supprimer cette équipe ?');">
								<button class="glyphicon glyphicon-trash btn btn-danger btn-xs"></button>
							</a>
						</td>
						<td>{{ loop.index }}</td>
						<td width="99%">{{ team.name }}</td>
					</tr>
				{% endfor %}
			</table>
			<a href="{{ path('abienvenu_kyjoukan_event_newteam', {'slug': event.slug}) }}" class="btn btn-primary">
				<span class="glyphicon glyphicon-plus"></span>
				Créer une nouvelle équipe
			</a>
		</div>
		<div role="tabpanel" class="tab-pane" id="grounds">
			<table class="table table-striped table-bordered table-hover">
				{% for ground in event.grounds %}
					<tr>
						<td>
							<a href="{{ path('abienvenu_kyjoukan_ground_edit', {'slug_event': event.slug, 'id': ground.id}) }}">
								<button class="glyphicon glyphicon-edit btn btn-success btn-xs"></button>
							</a>
						</td>
						<td>
							<a href="{{ path('abienvenu_kyjoukan_ground_delete', {'slug_event': event.slug, 'id': ground.id}) }}"
							   onclick="return confirm('Vraiment supprimer ce terrain ?');">
								<button class="glyphicon glyphicon-trash btn btn-danger btn-xs"></button>
							</a>
						</td>
						<td width="99%">{{ ground.name }}</td>
					</tr>
				{% endfor %}
			</table>
			<a href="{{ path('abienvenu_kyjoukan_event_newground', {'slug': event.slug}) }}" class="btn btn-primary">
				<span class="glyphicon glyphicon-plus"></span>
				Ajouter un terrain
			</a>
		</div>
	</div>
{% endblock %}
